/* CardDetails.css */

.card-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  
  .card-details-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  @media (min-width: 768px) {
    .card-details-content {
      margin: 0;
      margin-left: 20px;
    }
  }
  